html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: sans-serif;
  background-color: #444c95;
}

hr {
  border: 1px solid #ffffff;
  border: 100%;
  margin-left: -19%;
}

a {
  display: block;
  padding-top: 5%;
  padding-right: 75%;
  padding-left: 2%;
  flex-direction: column;
  text-align: end;
  text-decoration: none;
  color: rgb(255, 255, 255);
  top: 100px;
  text-decoration: none;
  font-size: 30px;
}

#publicacion {
  top: 15%;
  position: relative;
  background-color: #6f79d5;
  color: black;
  left: 37%;
  font-size: 15px;
  width: 25%;
  height: 10%;
  padding: 5px;
  margin-bottom: 15px;
  color: rgb(255, 255, 255);
  border-radius: 15px;
  border: 1px solid #6f79d5;
  line-height: 35px;
}

#post {
  background-color: #6f79d5;
  display: flex;
  position: relative;
  color: black;
  left: 37%;
  top: 15%;
  font-size: 14px;
  width: 25%;
  height: 10%;
  color: rgb(255, 255, 255);
  border-radius: 15px;
  border: 1px solid #6f79d5;
  line-height: 35px;
}

#fotoperfil {
  width: 50px;
  height: 50px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 120%;
  margin-right: 15px;
}

#ubicacion {
  margin: -18px;
  margin-right: 12%;
  Font: italic light;
  font-size: 12px;
  color: rgb(0, 217, 255);
}

#postear {
  position: relative;
  background-color: #6f79d5;
  border-color: #6f79d5;
  color: #ffffff;
  border-radius: 15px;
  width: 95%;
  height: 85px;
  resize: none;
  outline: none;
  border: none;
  font-size: 14px;
}

#multiinpost {
  position: relative;
  margin: 2%;
  width: 80%;
  height: 80%;
}

#Fechahora {
  margin-left: 78%;
  margin-bottom: 78%;
}

#navegacion {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #252525;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 300px;
  height: 100%;
  border-right: 1px solid #ffffff;
  line-height: 35px;
}

#logo {
  padding-left: 20%;
  position: relative;
  width: 50%;
  height: 15%;
}

#publicar {
  border-radius: 15px;
  border: none;
}

#archivo_multimedia {
  border-radius: 15px;
  border: none;
}

#busqueda {
  padding-left: 10px;
  position: relative;
  top: 2%;
  left: 30%;
  color: rgb(253, 253, 253);
  font-size: 15px;
  width: 40%;
  margin: 5px;
  border-radius: 15px;
  border: 1px solid #000000;
  line-height: 35px;
}

#configurar {
  margin-top: auto;
  padding-bottom: 40px;
}

@media (max-width: 991px) {}