body{
    background-color:#444c95;
    color: white;
}

#configuracion{
    position: absolute;
    background-color: #252525;
    margin: 30%;
    height: 16%;
    width: 45%;
    border-radius: 15px;
    margin-top: 5%;
    padding: 1%;

}

#logo{
    position: relative;
    left: 50%;
    height: 90px;
    width: 90px;
}